@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: #f4f6f8;
  color: #333;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  background-color: #f5f1e9;
  flex: 1;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}
