.toast {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  background: #4caf50;
  font-family: "Special Elite", monospace, Courier, monospace;
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.show {
  opacity: 1;
}

.alert {
  background: #f44336;
}
